div#container {
    font-family: sans-serif;
    width: 500px;
    margin: auto;
}

#header {
    text-align: center;
}

#content > #loading {
    display: none;
}

#content.loading > #loading {
    display: block;
}

#content > #locreq {
    display: none;
}

#content.loading.locreq > #locreq {
    display: none;
}

#content.locreq > #locreq {
    display: block;
}

#content.loading > #loaded {
    display: none;
}

#content.locreq > #loaded {
    display: none;
}

#content > #loaded {
    display: block;
}

#sites {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sites li.site {
    padding: 10px;
}

#sites li.site div {
    padding: 2px;
    display: inline;
}

#sites div.callsign {
    font-weight: bolder;
    font-size: large    ;
}

#footer {
    text-align: center;
    padding: 10px;
    margin: 20px auto 0px auto;
}