div#container {
    font-family: sans-serif;
    width: 500px;
    margin: auto;
}

#header {
    text-align: center;
}

#content > #loading {
    display: none;
}

#content.loading > #loading {
    display: block;
}

#content > #locreq {
    display: none;
}

#content.loading.locreq > #locreq {
    display: none;
}

#content.locreq > #locreq {
    display: block;
}

#content.loading > #loaded {
    display: none;
}

#content.locreq > #loaded {
    display: none;
}

#content > #loaded {
    display: block;
}

#sites {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sites li.site {
    padding: 10px;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.05);
    border-bottom-style: solid;
}

#sites li.site div.detail {
    padding: 2px;
    display: inline;
}

#sites li.site.expanded div.detail {
    padding: 2px;
    display: block;
}

#sites li.site div.detail div.label {
    display: none;
}

#sites li.site.expanded div.detail div.label {
    display: inline;
}

#sites li.site div.detail.expandable {
    display: none;
}

#sites li.site.expanded div.detail.expandable {
    display: block;
}

#sites li.site div.detail div.value {
    display: inline;
}

#sites li.site div.detail:first-child {
    font-weight: bold;
}

#footer {
    text-align: center;
    padding: 10px;
    margin: 20px auto 0px auto;
}